resourceOwner        = "labteam"
awsRegion            = "us-east-2"
projectPrefix        = "aws-gwlb"
bigipLicenseAZ1      = "XXXXX-YYYYY-ZZZZZ-WWWWW-VVVVVVV"
bigipLicenseAZ2      = "XXXXX-YYYYY-ZZZZZ-WWWWW-VVVVVVV"
bigipAdminPassword   = "f5labpassword!"
